body {
  background-color: #f5eeeb;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.text_center {
  text-align: center;
}

.default_padding {
  padding: 24px 0px;
}

.footer {
  padding: 20px 0;
}

.remove-padding-col {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.truncate {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.brown_color {
  background-color: #3f3937;
  color: #f5eeeb;
}

.main {
  background-color: #f5eeeb;
}
.btn-dark {
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  background: #3f3937;
  border-radius: 8px;
  width: 100%;
  margin-top: 15px;
  color: #f5eeeb;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.text-400 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}
.text-500 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
}
.text-600 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
}
.text-700 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
}
.text-800 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
}

.text {
  font-size: 24px;
  line-height: 33px;
  color: #3f3937;
}

/* ===================================== On Boarding  =====================================*/
.block-satu {
  margin: 50px 10px;
  padding-right: 70px;
}
.text-boarding {
  margin-top: 20px;
}
.block-dua {
  margin: 0 auto;
}
.btn-putih {
  background-color: #ffffff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 0px;
  width: 100%;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: baseline;
}
.atau {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  margin-top: 10px;
}
.btn-transparan {
  border: 1px solid #3f3937;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  width: 100%;
  font-family: "Manrope", sans-serif;
}
.icon-google {
  margin-right: 20px;
}

/* ===================================== Register  =====================================*/
.logo-top {
  margin: 25px auto 55px;
}
.masuk {
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.v-text-field--filled.v-input--dense.v-text-field--outlined
  > .v-input__control
  > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled
  > .v-input__control
  > .v-input__slot {
  background-color: #ffffff;
}

/* ===================================== Success  =====================================*/
.logo-success {
  margin: 25px auto;
}
/* ===================================== Login  =====================================*/
.daftar {
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.v-btn:not(.v-btn--round).v-size--default {
  background-color: #3f3937 !important;
  border-radius: 8px;
  width: 100%;
  margin-top: 15px;
  color: #f5eeeb;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  padding: 16px 0px !important;
}
/* ===================================== Lupa Password  =====================================*/
.background {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
}
.lupa {
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  font-size: 40px;
  margin: 20px 50px 20px 0;
}
.back {
  margin-top: 20px;
}
.text-forgot {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.lupa-input {
  margin-top: 50px;
}
.kirim {
  margin-top: 20px;
  border-radius: 25px;
}
.btn-dialog {
  width: 75%;
  margin-bottom: 25px;
}

/* ===================================== Profil  =====================================*/
.judul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin-bottom: 20px;
}
.text-judul-page {
  font-size: 24px;
  line-height: 33px;
  color: #3f3937;
  padding-top: 15px;
  margin: 20px 25px;
}
.box-profile {
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin: 16px 5px;
  background: #ffffff;
  border-radius: 12px;
}
.sub-judul {
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #3f3937;
  margin-bottom: 4px;
}
.desk-sub-judul {
  font-size: 14px;
  line-height: 19px;
  color: rgba(63, 57, 55, 0.6);
  margin-bottom: 16px;
}
.garis {
  border: 1px solid rgba(63, 57, 55, 0.2);
}
.label {
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(63, 57, 55, 0.6);
  margin: 12px 0;
}
.isi-label {
  font-size: 16px;
  line-height: 22px;
  color: #3f3937;
  margin: 12px 0;
}
.keluar {
  font-size: 16px;
  line-height: 22px;
  color: #d83d0e;
  margin: 9px auto;
  font-size: 17px;
}
.btn-berlangsung {
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  background: #ffffff;
  border-radius: 8px;
}
.btn-riwayat {
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  background: rgba(63, 57, 55, 0.05);
  border-radius: 8px;
}
.judul-daftar-tiket {
  font-size: 20px;
  line-height: 27px;
  color: #3f3937;
  margin-bottom: 4px;
}
.lokasi-daftar-tiket {
  font-size: 14px;
  line-height: 19px;
  color: #3f3937;
  margin-bottom: 12px;
}
.tgl-daftar-tiket {
  font-size: 12px;
  line-height: 16px;
  color: rgba(60, 60, 67, 0.6);
}
