@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.text-title{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #3F3937!important;
}

.hamburger-menu{
  color: #3F3937!important;
}