@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.text-title{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  color: #3F3937!important;
}

.text-subtitle{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(63, 57, 55, 0.8)!important;
}

.hamburger-menu{
  color: #3F3937!important;
}

.my-border{
  border: 1px solid #FF9800!important;
  border-radius: 10px;
}

.search-box{
  
}